<template>
  <button class="button">{{ label }}</button>
</template>
<script>
export default {
  props: {
    label: {
      type: String,
      required: true,
    },
  },
};
</script>
<style lang="scss">
.button {
  @include font-body-text-bold;
  width: 31.5rem;
  height: 6rem;
  padding: 0px 5.8rem;
  border: 0;
  border-radius: 12px;
  color: $white;
  letter-spacing: 3.4px;
  text-transform: uppercase;
  background: $ma-dark-blue-1;
}
</style>
