<template>
  <div class="feature">
    <div class="feature__brand">
      <img
        v-for="url in urls"
        :key="url"
        :style="{ '--feature-image-height': `${100 / urls.length}%` }"
        :src="url"
        class="feature__image"
      />
    </div>
    <div class="feature__detail">
      <span class="feature__heading">{{ heading }}</span>
      <ul class="feature__list">
        <li v-for="item in items" :key="item">
          <span class="feature__list-item">{{ item }}</span>
        </li>
      </ul>
      <p class="feature__pitch">
        {{ pitch }}
      </p>
    </div>
  </div>
</template>
<script>
import { computed } from "vue";

export default {
  props: {
    heading: {
      type: String,
      default: null,
    },
    items: {
      type: Array,
      default: [],
    },
    pitch: {
      type: String,
      default: null,
    },
    images: {
      type: Array,
      default: [],
    },
  },
  setup(props) {
    const urls = computed(() => {
      return props.images.map(
        (url) => new URL("/images/" + url, import.meta.url).href
      );
    });

    return {
      urls,
    };
  },
};
</script>
<style lang="scss">
.feature {
  flex: 0 0 43.8rem;
  overflow: hidden;
  max-height: 33.6rem;
  background-color: $white;
  border-radius: 8px;
  display: flex;

  &__brand {
    flex: 0 0 18.35rem;
    display: flex;
    flex-direction: column;
  }

  &__heading {
    @include font-heading-feature;
  }

  &__list {
    @include font-list-feature;
    padding-inline-start: 1.6rem;

    li {
      color: $ma-tan-acccent;
    }

    &-item {
      color: $ma-charcoal-1;
    }
  }

  &__image {
    height: var(--feature-image-height);
    width: 100%;
    object-fit: cover;
  }

  &__pitch {
    @include font-pitch-feature;
  }

  &__detail {
    padding: 4rem 3.4rem;
  }
}
</style>
