@mixin font-heading-1() {
  font-size: $font-heading-1;
  font-weight: $font-bold;
}

@mixin font-heading-2() {
  font-size: $font-heading-2;
  font-weight: $font-bold;
}

@mixin font-body-text-bold() {
  font-size: $font-body-text;
  font-weight: $font-bold;
}

@mixin font-body-text-semibold() {
  font-size: $font-body-text;
  font-weight: $font-semibold;
}

@mixin font-heading-main {
  @include font-heading-1();
  line-height: $line-height-3;
  letter-spacing: -0.56px;
  color: $ma-charcoal-1;
  margin: 0;
}

@mixin font-heading-feature {
  @include font-heading-2();
  color: $ma-charcoal-1;
  line-height: $line-height-2;
}

@mixin font-list-feature {
  @include font-body-text-bold;
  font-family: "Nunito", sans-serif;
  color: $ma-charcoal-1;
  line-height: $line-height-1;
}

@mixin font-pitch-feature {
  @include font-body-text-semibold;
  font-family: "Nunito", sans-serif;
  color: $ma-charcoal-1;
  line-height: $line-height-1;
}
