/*
Font sizes
*/

$font-heading-1: 56px;
$font-heading-2: 24px;
$font-body-text: 15px;

/*
Font Weights
*/

$font-bold: 700;
$font-semibold: 600;

/*
Colors
*/

$ma-charcoal-1: #353844;
$ma-blue-3: #506bca;
$ma-dark-blue-1: #1b264f;
$ma-dark-blue-1: #1b264f;
$ma-off-white-5: #f5f5f8;
$ma-tan-acccent: #d2ad81;

$white: #ffffff;

/*
Line Heights
*/

$line-height-1: 26px;
$line-height-2: 32px;
$line-height-3: 55px;
