<template>
  <main class="feature-page">
    <h1 class="feature-page__heading">
      We make creative media that <br />
      <span class="feature-page__gloss"> adds value </span>
    </h1>
    <div class="feature-page__features">
      <Feature
        v-for="feature in features"
        :heading="feature.heading"
        :items="feature.items"
        :pitch="feature.pitch"
        :images="feature.urls"
      />
    </div>
    <AppButton label="Get started" />
  </main>
</template>
<script>
import Feature from "./components/Feature.vue";
import AppButton from "./components/AppButton.vue";
export default {
  components: {
    Feature,
    AppButton,
  },
  setup() {
    const features = [
      {
        heading: "Photography",
        items: ["Drone Photography", "Interiors", "Exteriors / Architectural"],
        pitch:
          "Every photograph we produce finds the beauty in your property while serving as a profitable asset.",
        urls: ["photography_1_brand.png", "photography_2_brand.png"],
      },
      {
        heading: "Virtual Staging",
        pitch:
          "Our staging will help you sell the potential of your space We can work off of our own photography or photos you provide",
        urls: ["virtual_staging_brand.png"],
      },
      {
        heading: "Renderings",
        items: ["Interiors", "Exteriors"],
        pitch:
          "Every photograph we produce finds the beauty in your property while serving as a profitable asset.",
        urls: ["renderings_brand.png"],
      },
      {
        heading: "Interactive Tours",
        items: ["Matterport", "Video Walkthroughs"],
        pitch:
          "Give your audience the ability to explore your property without requiring in-person travel.",
        urls: ["interactive_tours_brand.png"],
      },
      {
        heading: "Floor Plans",
        items: ["On-site Measure", "2D Floor Plans", "3D Floor Plans"],
        pitch:
          "We produce laser-precise floor plans faster than any other service.",
        urls: ["floor_pans_brand.png"],
      },
      {
        heading: "Video",
        items: [
          "Drone Cinematography",
          "Interiors",
          "Exteriors / Architectural",
        ],
        pitch:
          "Video content has higher engagement and will help your property stand out online.",
        urls: ["video_brand.png"],
      },
    ];

    return {
      features,
    };
  },
};
</script>
<style lang="scss">
.feature-page {
  background-color: $ma-off-white-5;
  padding: 10.8rem 8.425rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;

  &__heading {
    @include font-heading-main;
    text-align: center;
  }

  &__gloss {
    color: $ma-blue-3;
  }

  &__features {
    display: flex;
    justify-content: center;
    row-gap: 4rem;
    column-gap: 3rem;
    flex-wrap: wrap;
  }
}
</style>

